<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {% if Lang.has('cornerstone::alerts.info') %}
        <h4><i class="fa fa-info-circle"></i> {{ trans('cornerstone::alerts.info') }}</h4>
    {% endif %}
    {{ message | raw }}
</div>
